* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-height {
  height: 64px;
  background-color: white;
}

a.navbar-brand {
  padding: 0;
  font-size: 18px;
}

/* learn */

.border-section {
  padding: 32px 24px;
}

.bg-learn {
  background: rgb(228, 228, 228);
}

.text-learn {
  padding: 0;
}
.learn-m {
  padding-top: 32px;
  padding-left: 16px;
}

.learn-p {
  padding-left: 16px;
}

.bt-start {
  padding-top: 24px;
  padding-bottom: 32px;
}

/* info */

.info a {
  text-decoration: none;
  color: rgb(46, 46, 255);
}

.bg-startl {
  background-color: lightgrey;
  color: rgb(65, 64, 64);
}
